{{ define "main" }}
<nav class="plain" aria-label="breadcrumb">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/icd10/">Index</a></li>
    <li><a href="{{ .Parent.RelPermalink }}">{{ if .Parent.Title }}{{ .Parent.Title }}{{ else }}{{ .File.Path | replaceRE `^.*/([A-Z])/.*$` "$1" | default (path.Base .File.Dir) }}{{ end }}</a></li>
    <li>{{ .Params.ICD10 }}</li>
  </ul>
</nav>
<main class="container">
<h1>{{ .Params.ICD10 }}</h1>
  <h3>{{ .Params.Description }}</h3>
  <table>
    <thead>
      <tr>
        <th>Matters for Anaesthesia</th>
        <th>Weight</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          {{ if eq .Params.Matters true }}
          <td class="danger">Yes</td>
          {{ else }}
          <td class="success">No</td>
          {{ end }}
          <td>{{ .Params.Weight }}</td>
        </tr>
    </tbody>
  </table>
{{ if .Content }}
<h6>Comments</h6>
  {{ .Content }}
  <hr />
  {{ end }}
  <small>
  Suggest a reclassification, correction or add additional clarification on GitHub:
  <a href="https://github.com/scatauk/icd10/tree/main/www/content/icd10/{{ .File.Path | replaceRE `^.*/([A-Z])/.*$` "$1" | default (path.Base .File.Dir) }}/{{ .Params.ICD10 }}.md">
    https://github.com/scatauk/icd10/tree/main/www/content/icd10/{{ .File.Path | replaceRE `^.*/([A-Z])/.*$` "$1" | default (path.Base .File.Dir) }}/{{ .Params.ICD10 }}.md
  </a>
</small>
</main>
{{ end }}
